APP_PORT=3552
APP_URL=http://localhost:3552
PODMAN_USER=1000
ENCRYPTION_KEY=flefEy5E6R1mv2Htp/MQsVgQoE0pqU6wvKiJeGrzcyc=
JWT_SECRET=WX8adR/inK/mfwOSE2qMcHDaIs1CY3gGJ0Vi+wCMkQw=
PROYECTS_PATH=./proyects
